Welcome to register for <%= contestName %>!

<p>
  Hello, <%= nickname %>.
</p>

<p>
  Welcome to register for <%= contestName %>
</p>

<p>
  The duration of the contest is:
  <ul>
    <li>start: <%= startTime %></li>
    <li>end: <%= endTime %></li>
  </ul>
</p>

<p>
  Your login information is:
  <ul>
    <li>username: <%= username %></li>
    <li>password: <%= password %></li>
  </ul>
</p>

Good luck to the contest.

<p>
    The <%= siteName %> Team.
</p>
